/* 페이지 전체를 중앙에 600px로 제한하는 스타일 */
.wrap {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  margin: 0 auto;
  padding: 4px;
}

.logo {
  font-family: "BagelFatOne-Regular";
  font-size: 40px;
  color: #ff5c5c;
  margin: 24px 0 24px 0;
}

/* 가로줄 구분선 */
.horizontal {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #ddd;
  margin: 0;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
}

.intro-text {
  font-family: "Orbit-Regular";
  font-size: 16px;
  margin: 20px 0 40px 0;
}

.post-button {
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 15px; /* 5? */
  padding: 10px 30px;
  cursor: pointer;
  margin-right: 16px;
}

.post-button:hover {
  background-color: #ff4c3b;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  row-gap: 24px; /* 세로 간격 */
}

.post-card {
  /* background-color: #ffffff; */
  width: 296px;
  height: 336px;
  padding: 12x;
  /* margin-bottom: 24px; */
  /* text-align: center; */
}

.post-image {
  width: 272px;
  height: 272px;
  background-color: #d9d9d9;
  border-radius: 16px;
  margin: 12px 12px 16px 12px;
  overflow: hidden;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* 그라데이션 오버레이 */
.post-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  border-radius: 0 0 16px 16px; /* 하단 모서리에만 반영 */
  pointer-events: none; /* 오버레이가 클릭을 방해하지 않도록 설정 */
}

.post-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 22px;
  color: #ffffff;
  position: absolute;
  top: 250px;
  left: 34px;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px 0 6px;
}

.author-profile {
  width: 24px;
  height: 24px;
  background-color: #bbb;
  border-radius: 50%;
  margin-right: 5px;
}

.author-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.post-author {
  font-size: 14px;
  color: #666;
}

.post-icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
  gap: 10px;
}

.page-button {
  /* background-color: #aca0eb; */
  background-color: #f7f5f3;
  color: #666;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.page-number {
  /* background-color: #f0f0f0; */
  background-color: #f7f5f3;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

/* 현재 페이지 */
.page-number.active {
  color: #ff5c5c;
}

.page-btn:hover,
.page-number:hover {
  background-color: #ff4c3b;
  color: white;
}
