.illustration-img {
  width: 1372px;
  margin-top: 273px;
}

.login-box {
  position: absolute;
  top: 50px;
  background-color: #ffffff;
  padding: 54px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.logo {
  font-family: "BagelFatOne-Regular";
  font-size: 40px;
  color: #ff5c5c;
  margin: 24px 0 24px 0;
}

/* 가로줄 구분선 */
.horizontal {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #ddd;
  margin: 0;
}

.login-box .form-header {
  /* height:30px; */
  display: flex;
  align-items: center;
  text-align: left;
}

.login-box .form-header > div {
  margin-right: 16px;
  color: #bbbbbb;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.profile-box {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.profile-image {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
  overflow: hidden;
  /* transition:all 500ms ease-in-out; */
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.profile-button {
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
  /* background-color: #ff6f61; */
  color: #ff6f61;
  border-color: #ff6f61;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 10px;
  /* position: absolute;
      object-fit: contain;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
}

.profile-button:hover {
  background-color: #ff4c3b;
  color: white;
}

/* 숨겨진 input[type="file"] 기본 스타일 제거 */
input[type="file"] {
  display: none;
}

/* 입력 필드를 감싸는 컨테이너 */
.input-container {
  position: relative; /* 아이콘 배치를 위해 relative 사용 */
  width: 100%;
  display: flex;
  align-items: center;
}

/* 아이콘 스타일 */
.input-icon {
  position: absolute;
  left: 14px;
  width: 20px;
  height: 20px;
  pointer-events: none; /* 클릭 방지 */
  opacity: 0.3;
}

.helpertext {
  color: #ff5953;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
  opacity: 0;
}

.login-box.pw .form-header div.show-pw {
  color: #d1b7ff;
}
.login-box.userinfo .form-header div.show-userinfo {
  color: #d1b7ff;
}

.login-box .form-elements {
  margin-top: 24px;
  width: 332px;
}
.login-box .form-elements .form-element {
  /* height:48px; */
  height: 68px;
  margin-top: 5px;
  opacity: 1;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

.login-box .form-elements input {
  width: 100%;
  height: 48px;
  /* padding:10px; */
  padding: 10px 10px 10px 48px;
  font-size: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f7f5f3;
}

.login-box .form-elements button {
  width: 100%;
  height: 48px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  /* margin-top:16px; */
  border-radius: 4px;
  box-sizing: border-box;
  background: #ff5953;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

.login-box .suggest {
  font-size: 14px;
  text-align: center;
  /* margin-top: 12px; */
}

.login-box .suggest > .leave {
  cursor: pointer;
  /* color: #d1b7ff; */
  text-decoration: none;
}

.login-box .suggest > .leave:visited {
  /* color: #d1b7ff; */
  color: #000;
}

.login-box.userinfo .password {
  height: 0px;
  opacity: 0;
}

.login-box.pw .profile-box .button-img {
  height: 36px;
  opacity: 0;
}

.login-box.pw .nickname {
  height: 0px;
  opacity: 0;
}
